h1{
    color: #fffffe;
   }

   img{
    height: 20%;
    width: 40%;
    border-radius: 10%;
}

body{
    padding: 3%;
    background-color: #16161a;
    margin-right: 20%;
}


p{
    color: #fffffe;
}

li{
    color: #fffffe;
}